/* THIS IS THE CSS STYLING FOR MEDIUM VIEWPORTS */

@media screen and (min-width: 500px) {

  
fieldset { width:30%}

.ctaButton {
    top: 20px; 
    bottom: unset;
	right: 25px;
	width: 120px;
}

} /* End of @media screen query min-width: 500px */