
/* To import google font */

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Nunito|Open+Sans);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


/* Standard Formatting for body and sublevels */
body {
    background-color: #e7ece7;
    margin: 10px;
    font-size: 16px;
    color: #000;
        }

header {
    margin: 5px;
    padding: .5rem;
    background-color: #274c77;
    border: 1px solid #bbb;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: #e7ecef;    }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
    color: #274c77;     }

h1 {font-size: 188%;} /* Equal to 35px */
h2 {font-size: 157%;} /* Equal to 30px */
h3 {font-size: 125%;} /* Equal to 25px */
h4 {font-size: 94%;} /* Equal to 20px */
h5 {font-size: 63%;} /* Equal to 15px */

main {
    font-family: 'Nunito', sans-serif;
    margin: 10px;   }

/* Style format for address/contact */
address {
    margin: 10px;
    color: #6096ba;}

/* Style format for footer */
footer {
    margin: 0;
    padding: 10px 12px;
    background-color: #6096ba;
    color: #e7ecef; }

/* To run media query for small screens*/
@media screen and (max-width: 500px ) {


    div .weather5Day { 
        display: none;  }

    /*Decrease the globe image to fit screen
    and on header - create more visual appeal 
    header img#homeTown {
        display: center;
        width: 10%;
        height: 10%;  }*/

    header section.siteHeading {
        position: relative;
        width: 75%;
        color: #e7ecef;
		display: inline-block;
        vertical-align: middle;
        margin: 0px;    }

    header section div.motto {
        width: 100%;
        color: #a3cef1;
        font-size: 70%;
        padding: 5%;  }
    }

/* MAIN - 

	/* Styling the navigation menu */
		/* This hides the items in the Navigation list from the user's view until they hover over the "Menu" */
		
        nav {
            background-color: #6096ba;  }
        
        nav ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
            text-align: center;
        }
        
        nav ul.hide {
            display:none;   }

        nav ul li {
            float:none;
        }

		nav ul li a {
            display: block;
			color:#274c77;
            text-decoration: none;
            padding: .5em;
		}
        nav ul li a.active {
            background-color: rgba(39,76,119, .5);
            width: auto;
            color: #e7ecef;
            margin: 0;     }

        nav ul li a:hover {
            background-color: #e7ecef;
            color: #274c77; }

    
    /* MAIN SECTION FOMRATTING */

    div h1 {
        text-align: center; }

        div img {
            width: 100%;
            margin: 0;
            padding: 0; }

        /* Container holding the image and the text overlay */
            div.flexContainer {
            position: relative;
            text-align: left;
            color: #fff;    }

        /* Container - text - heading */
         span.townDiv {
             position: absolute;
             top: 2rem;
             left: 1rem;
             font-size: 95%;   }
        
        /*Container - text - body */
        div.weatherCurrent,  div.weatherHigh,  div.weatherHumidity,  div.weatherWindChill, div.weatherWindSpeed {
            position: absolute;
            left: 1rem;
            padding: 0;
            margin: 0;
            background-color: rgba (255,255,255, .7) }

            /*Setting top text line for summary box */
                div.weatherCurrent {
                    top: 3.25rem; }

                div.weatherHigh {
                    top: 4.5rem; }

                div.weatherHumidity {
                    top: 5.75rem; }

                div.weatherWindChill {
                    top: 7rem; }

                div.weatherWindSpeed {
                    top: 8.25rem; }


    /* ARTICLE & SECTION CONTENT PORTION */


        /* CONTACT AREA CONTENT */
        address {
            background-color: #a3cef1; }
            
            div.contactInfo {
                float: left;
                text-align: center;
                padding: 5%;     }

            /* Map */
             div.gmap_canvas {float:right;    } 

             div.gmap_canvas {
                width: 400px;
                border: 1px solid #555;
                box-shadow: 1px 1px 1px #777; }

             /* FOOTER AREA */
             div.date {
                 font-size: 2em;
                 color: #fff;   }
 
/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;    }