/* To run media query for medium screens */
@media screen and (min-width: 501px) and (max-width: 800px) {

    /* HEADER */

    /* Container Grid */
header.heading {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, .15fr);
}

    /* Grid - Content */
        header img#homeTown {
             padding: 15px 10%; }

        header div.motto {
             font-size: 95%;
 
            padding: 25px;  }

}  /* end of media query for 501px - 800px */

/* To run NEW media query for different viewport size */
@media screen and (min-width: 600px) and (max-width: 800px) {
        header img#homeTown {
             padding: 15px 20%; }
        }