
/* To import google font */

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Nunito|Open+Sans);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


/* Standard Formatting for body and sublevels */
body {
    background-color: #e7ece7;
    margin: 10px;
    font-size: 16px;
    color: #000;
    font-family: 'Nunito', sans-serif;
        }

header {
    margin: auto;
    padding: 0;
    background-color: #274c77;

    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: #e7ecef;    }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
    color: #274c77;     }

h1 {font-size: 188%;} /* Equal to 35px */
h2 {font-size: 157%;} /* Equal to 30px */
h3 {font-size: 125%;} /* Equal to 25px */
h4 {font-size: 94%;} /* Equal to 20px */
h5 {font-size: 63%;} /* Equal to 15px */

main {
    margin: 10px;   }

/* Style format for address/contact */
address {
    margin: 10px;
    color: #6096ba;}

/* Style format for footer */
footer {
    margin: 0;
    padding: 10px 12px;
    background-color: #6096ba;
    color: #e7ecef; }

main div.weather5Day { 
        display: none;  }


/* HEADER */

    /* Container Grid */
header.heading {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, .25fr);

}

    /* Grid - Content */
        header img#homeTown {
            grid-column-start:2;
            grid-row-start: 1;  

            justify-content: center;
            align-content: center;
            text-align: center;

            padding: 10px;
            margin:0;
        }

        header h1.siteHeading {
            grid-column-start:1;
            grid-column-end:4;
            grid-row-start: 2;

            justify-content: center;
            align-content: center;
            text-align: center;

            padding: 0;
            margin:0;
        }

        header div.motto {
            grid-column-start:1;
            grid-column-end: 4;
            grid-row-start: 3;

            justify-content: center;
            align-content: center;

            font-size: 85%;
            text-align: center;

            padding: 0 20px;
            margin:0;
        }

        /*
section.siteHeading {
        position: relative;
        width: 75%;
        color: #e7ecef;
		display: inline-block;
        vertical-align: middle;
        margin: 0px;    }

    header section div.motto {
        width: 100%;
        color: #a3cef1;
        font-size: 70%;
        padding: 5%;  }
  
*/

/* MAIN - 

	/* Styling the navigation menu */
		/* This hides the items in the Navigation list from the user's view until they hover over the "Menu" */
		
        nav {
            background-color: #6096ba;  }
        
        nav ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
            text-align: center;
        }
        
        nav ul.hide {
            display:none;   }

        nav ul li {
            float:none;
        }

		nav ul li a {
            display: block;
			color:#274c77;
            text-decoration: none;
            padding: .5em;
		}
        nav ul li a.active {
            background-color: rgba(39,76,119, .5);
            width: auto;
            color: #e7ecef;
            margin: 0;     }

        nav ul li a:hover {
            background-color: #e7ecef;
            color: #274c77; }

    
    /* MAIN SECTION FOMRATTING */

    div h1 {
        text-align: center;
        margin: 10px;
     }

    img.backgroundImage {
        position: relative;

        display: block;

        width: 100%;
        height: auto;
        overflow: hidden;

        margin: auto;
        padding: 0; }

    div img.imageArticle {
        display: flexbox;
        height: 100%; }

                   

        /* CONTACT AREA CONTENT */
        address {
            background-color: #a3cef1;
            width: 100%;
            height: 100%; 
        
            margin: 0;
            padding: 0;}

        .nested1, .nested2, .nested3, .nested4, .nested5,
         .nested6, .nested7 {
                text-align: left; 
                padding-left: 4rem;}


        /* MAP formatting content */

            address div iframe {
                width:100%;
                height: 100%;   }

            address div.gmap_canvas {
                position: relative;
                margin: auto;

                width: 300px;
                height: auto;
                border: 1px solid #555; } 

             /* FOOTER AREA */
             div.date {
                 font-size: 2em;
                 color: #fff;   }
 

/* GALLERY GRID */
main div.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 20px;

 }

    figure{
        grid-column-start: auto;
        grid-row-start: auto; 

        margin: auto;

        box-shadow: 0 0 20px #777;
    }
/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;    }